<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static',filename='not_shall.css')}}">
</head>
<style>
   body {
        background: url(https://thumbs.gfycat.com/DangerousLividBasilisk-size_restricted.gif);
        background-size: cover;
   }
</style>
<body>
      <h1 align="center">
         You shall not pass!
      </h1>  <br><br>
      <div align = center aria-posinset="bottom">
      <a  href={{url_for('bp_auth.start_auth')}}>Нажмите для авторизации</a>
      </div>>
</body>
</html>